h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 1.8rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 3px;
}

h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h4 {
    margin: 0;
    font-size: 1.2em;
}

p, a, table, input, label, button, div, select {
    font-family: 'Montserrat', sans-serif!important;
}

a {
    color: black;
    text-decoration: none;
}

ul, li {
    list-style: none;
    padding: 0;
}

table {
    border: none;
}

button {
    appearance: none;
    border: none;
}

select{
    cursor: pointer;
}

button:focus, select:focus, input:focus,
button:focus-visible, select:focus-visible, input:focus-visible{
    outline: none;
}

p {
    margin: 0;
}

p.center {
    text-align: center;
}

p.rich {
    font-weight: bold;
}

p.rich span {
    font-weight: normal;
}

.row-container{
    display: flex;
    flex-direction: row;
}

.row-content{
    flex: 1;
    justify-content: center;
    align-items: center;
}
.buttons-sides-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*----------------------------------------------------
    SCROLL BAR
-----------------------------------------------------*/

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.25);
    border-radius: 5px
}

::-webkit-scrollbar-thumb {
    background: rgb(70, 70, 70);
    border-radius: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

main{
    padding: 0 10%;
    z-index: 1;
}

a.btn{
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
}

.modal{
    background-color: rgba(32, 32, 32, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    backdrop-filter: blur(5px);
    padding: 100px 25%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
}
.modal.visible{
    opacity: 1;
    visibility: visible;
}
@media only screen and (min-width: 1117px){
    .modal{
        padding: 100px 30%;
    }
}
.modal .modal-content{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 40px 80px;
    position: relative;
}
.rotation-3d{
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
}
.rotation-3d.visible{
    opacity: 1;
    visibility: visible;
    animation: cd-3d-rotation 0.5s 0.3s;
    transform-origin: center top;
    /* Force Hardware Acceleration */
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    animation-fill-mode: backwards;
}
@keyframes cd-3d-rotation {
    0% {
      transform: perspective(1000px) rotateX(-90deg);
    }
    100% {
      transform: perspective(1000px) translateY(0);
    }
}

.modal .modal-content a.close-modal{
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}
.modal .modal-content a.close-modal::after,
.modal .modal-content a.close-modal::before{
    position: absolute;
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    border-radius: 5px;
    background-color: rgb(50, 50, 50);
    top: 17px;
}
.modal .modal-content a.close-modal::after{
    transform: rotate(45deg);
}
.modal .modal-content a.close-modal::before{
    transform: rotate(-45deg);
}

/* Formularios */
.form-container{
    margin-top: 25px;
}

.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.input-container > label{
    font-size: 1.1em;
    padding: 10px 0;
}
.input-container > input[type="text"],
.input-container > input[type="date"],
.input-container > input[type="time"],
.input-container > select{
    font-size: 1em;
    padding: 7px 15px;
    border:rgb(151, 151, 151) 2px solid;
    border-radius: 5px;
    
}

.alert{
    color: #fff;
    padding: 10px 20px;
    background-color: rgba(255, 53, 53, 0.75);
    display: none;
}
.alert.active{
    display: block;
}
.alert.active.success{
    background-color: rgba(4, 175, 75, 0.75);
}

/* Boton de Inicio*/

.start-button {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
}

.start-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(28, 32, 32, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}

.start-button:hover {
    color: whitesmoke;
}

.start-button span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.start-button svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.start-button:hover svg {
    stroke: whitesmoke;
}

.start-button:hover:before {
    width: 100%;
    background: rgba(28, 32, 32, 0.75);
}

.start-button:hover svg {
    transform: translateX(0);
}

.start-button:active {
    transform: scale(0.96);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Sweet Alert */
.swal2-content{
    font-family: 'Montserrat', sans-serif!important;
}