nav{
    background-color: rgb(102, 0, 0);
    color: #fff;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    padding: 15px 8%;
    box-sizing: border-box;
}

nav h1{
    font-size: 2.5rem;
    letter-spacing: 1px;
}
nav > a.btn{
    position: absolute;
    top: calc(50% - 18px);
    /* margin-top: -10px; */
    right: 8%;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(31, 31, 31);
    font-weight: 600;
}
main{
    margin-top: 90px;
    padding-top: 25px;
}
/* Estilos del calendario */
.fc-header-toolbar .fc-button-primary,
.fc-header-toolbar .fc-button-primary:not(:disabled):active
{
    background-color: #8F0000;
    border-color: #8F0000;
}
.fc-header-toolbar .fc-button-primary:not(:disabled).fc-button-active{
    background-color: #660000;
    border-color: #660000;
}
.fc-header-toolbar .fc-button-primary:hover{
    background-color: #E00000;
    border-color: #E00000;
}
.fc-header-toolbar .fc-button-primary:disabled{
    background-color: #FF8585;
    border-color: #FF8585;
}
.fc .fc-daygrid-day.fc-day-today{
    background-color: rgba(255, 214, 214, 0.25);

}

