nav{
    background-color: rgb(102, 0, 0);
    color: #fff;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    padding: 15px 8%;
    box-sizing: border-box;
}

nav h1{
    font-size: 2.5rem;
    letter-spacing: 1px;
}
nav > a.btn{
    position: absolute;
    top: calc(50% - 18px);
    /* margin-top: -10px; */
    right: 8%;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(31, 31, 31);
    font-weight: 600;
}
main{
    margin-top: 90px;
    padding-top: 25px;
}
/* Estilos del calendario */
.fc-header-toolbar .fc-button-primary,
.fc-header-toolbar .fc-button-primary:not(:disabled):active
{
    background-color: #8F0000;
    border-color: #8F0000;
}
.fc-header-toolbar .fc-button-primary:not(:disabled).fc-button-active{
    background-color: #660000;
    border-color: #660000;
}
.fc-header-toolbar .fc-button-primary:hover{
    background-color: #E00000;
    border-color: #E00000;
}
.fc-header-toolbar .fc-button-primary:disabled{
    background-color: #FF8585;
    border-color: #FF8585;
}
.fc .fc-daygrid-day.fc-day-today{
    background-color: #ff0095;
    background-color: rgba(255, 214, 214, 0.25);

}

/* Modal de Agregar Evento */
.input-container > input[type="text"]:focus,
.input-container > input[type="text"]:focus-visible,
.input-container > select:focus{
    border-color: #8F0000;

}

#input-color{
    font-size: .75em;
    text-align: center;
}
#input-color .row-content{
    padding: 10px 0;
    margin: 0 8px;
    border-radius: 5px;
    border:rgb(151, 151, 151) 2px solid;
}
#input-color .row-content:hover{
    background-color: #d85353;
    border-color: #d85353;
    color: #fff;
}
#input-color .row-content:first-child{
    margin-left: 0;
}
#input-color .row-content:last-child{
    margin-right: 0;
}
#input-color .row-content.selected{
    border-color: #8F0000;

}
#input-color .color-content{
    width: 25px;
    height: 25px;
    background-color: cadetblue;
    margin: 0 auto 15px auto;
}
